<style>
    header{
        background: #fff !important;
    }
    #mainmenu>li:first-child a>span{opacity: 0;}
	#mainmenu>li:first-child>a{color: #333 !important;}
    #mainmenu>li:nth-child(2) a>span{opacity: 1;}
    #mainmenu>li:nth-child(2)>a{color: #ED4C4D !important;}
    /* fixed header css */
    #mainmenu li a span:before,
	#mainmenu li a span:after{
		border-color:  rgba(0, 0, 0, 0.45);
	}
	#mainmenu li a:after {
		color:#000 !important;
    }
    #mainmenu > li >a{
	color:#333 !important;
    }
    .content{
        background: #f6f6f6;
        padding-bottom: 40px;
    }
</style>
<section class="rest-banner">

</section>
<section class="rest-page container">
    <article>
        <div class="row">
            <div class="col-sm-4 pull-right">
                <img src="images/section-img.png" alt="" class="img-responsive pull-right">
            </div>
            <div class="col-sm-8">
                <h5>About the program – (4 lines Redbird Aviation)</h5>
                <p>Want a rewarding and challenging career in Aviation? Become a Pilot with a PPL, or a CPL, an
                ATPL, and IFR/ Night. We provide Airline Preparatory courses and Special Operations Courses.</p>
                <p>Join us at any point of your career and move to the next stage of pilot training. We provide
                training for a PPL, CPL, ATPL, IFR Night, Type Endorsements, CRM/SMS/DGRS and Special Ops
                Courses.</p>
                <p>An all-round approach to Pilot training – written, interview skills, and simulator training guarantees that our cadets are prepared to face real world challenges of flying.</p>
                <h5>About Us</h5>
                <p>We provide premier flying training in India. Our fleet consists of simple and complex Single
                Engine Airplanes and complex Multi Engine Airplanes with cross country flying to major
                International Airports. We provide exposure to our students to the modern radar environment
                as well as advanced instruments flying practices. The complete course runs in accordance with
                the DGCA prescribed Syllabus. We offer a duration of less than 1 year from ground classes till
                completion of flying.</p>
            </div>
            <div class="col-sm-12">
                <p>We have a staff constituted of dynamic and experienced instructors and trainers that ensure
                that you crack the airline entrance exam in one attempt. We offer a program that for exceeds
                anything else available in the market and guarantee. Our CPL holding students will be ready for
                the competitive world of modern aviation.</p>
                <p>Whether you are an Indian citizen or a foreign national with an overseas license, all that stands
                in your way from being part of an exciting adventure in global aviation is a DGCA license
                conversion with our expert training.</p>
                <p>We maintain an Instructor/ Student Ratio of 1:6.</p>
                <h5>Announcements</h5>
                <p></p>
                <h5>About the LET-410 Aircraft</h5>
                <p>The L 410 is currently used by commercial airline operators as well as the government agencies
                and aero-clubs worldwide. Entering the Indian aviation sector for its unique features will be
                another feather, be it – for standard passenger transport, for cargo, for VIPs, as an air
                ambulance service, for sky diving, for even photogrammetric or patrol versions.</p>
                <h5>Bottom Description of Red Bird Aviation</h5>
                <p>Dedicated to providing superior training opportunities for aspiring pilots, the solution to all your
                staffing needs, and an excellent provider of Aircraft spare parts. Red Bird Aviation is redefining
                standards for Aviation. Get in touch now!!</p>
                <p>Your entry into this booming market is just a click away…!!!</p>
            </div>
        </div>
    </article>
</section>