<style>
    header{
        background: #fff !important;
    }
    #mainmenu>li:first-child a>span{opacity: 0;}
	#mainmenu>li:first-child>a{color: #333 !important;}
    #mainmenu>li:nth-child(4) a>span{opacity: 1;}
    #mainmenu>li:nth-child(4)>a{color: #ED4C4D !important;}
    /* fixed header css */
    #mainmenu li a span:before,
	#mainmenu li a span:after{
		border-color:  rgba(0, 0, 0, 0.45);
	}
	#mainmenu li a:after {
		color:#000 !important;
    }
    #mainmenu > li >a{
	color:#333 !important;
    }
    .content{
        background: #f6f6f6;
        padding-bottom: 40px;
    }
</style>
<section class="rest-banner">

</section>
<section class="rest-page container">
    <article>
        <div class="row">
            <div class="col-sm-4 pull-right">
                <img src="images/section-img.png" alt="" class="img-responsive pull-right">
            </div>
            <div class="col-sm-8">
                    <h5>1. Consulting – 4 line description in the page itself.</h5>
                    <p>India is one of the fastest growing aviation markets in the world with a projected capacity
                            enhancement of over 200% within the next 8 years.</p>
                    <p>It is only natural for the industry to expect a growing need for advice and direction while making
                            executive decisions. Be it Aviation management, Airline and Runway Operations Consulting, or
                            chartering services, we at Red Bird Aviation provide world-class Consulting services for all your
                            needs.</p>
                    <h5>a. Management – description</h5>
                    <p>As a premier flight training institute endowed with senior management with experience in
                            the Aviation Sector for more than 20 years, Instructors, collaboration with Hotel
                            Management staff and an experienced faculty we provide expert level consultation on a
                            number of subjects. Get in touch with Red Bird Aviation for your Aviation management and
                            Client Relationship Management (CRM) needs.</p>
                    
                    <h5>b. Ops Consulting – description</h5>
                    <p>Research and knowledge services at Red Bird Aviation can help you manage your
                            operational needs. We deliver operational advisory services to airlines, airports, state
                            governments, ground-handlers and general aviation operators.</p>
                    <p>We maintain national and international partnerships enabling us to provide expert level
                            consultation on key operational requirements.</p>
                    
                    <h5>c. Chartering – description</h5>
                    <p>Red Bird Aviation is actively involved in chartering services to local and national level
                            governments. With a support mechanism in sales and delivery of small and medium aircraft.</p>
            </div>
        </div>
    </article>
</section>