<style>
    header{
        background: #fff !important;
    }
    #mainmenu>li:first-child a>span{opacity: 0;}
	#mainmenu>li:first-child>a{color: #333 !important;}
    #mainmenu>li:nth-child(2) a>span{opacity: 1;}
    #mainmenu>li:nth-child(2)>a{color: #ED4C4D !important;}
    /* fixed header css */
    #mainmenu li a span:before,
	#mainmenu li a span:after{
		border-color:  rgba(0, 0, 0, 0.45);
	}
	#mainmenu li a:after {
		color:#000 !important;
    }
    #mainmenu > li >a{
	color:#333 !important;
    }
    .content{
        background: #f6f6f6;
        padding-bottom: 40px;
    }
</style>
<section class="rest-banner">

</section>
<section class="rest-page container">
    <article>
        Detail
    </article>
</section>