<!-- revolution slider begin -->
<section id="section-welcome-7" class="text-light">
    <div class="banner">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}">
                <div class="banner-content">
                    <!-- <h4>Slide {{slide.id}}</h4> -->
                    <!-- <p>{{slide.text}}</p> -->
                    <p class="small">OUR EXPERTISE FOR</p>
                    <h1 class="title">WE TRAIN <strong class="id-color">Pilots</strong><br> WORLDWIDE</h1>
                    <br>
                    <a href="contact.html" class="btn-slider scroll-to">Hire Us Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- revolution slider close -->

<!-- section begin -->
<section id="section-services" class="no-top no-bottom">
    <div class="container">
        <div class="row mt-70">

            <div class="col-md-4 text-middle text-light st-wow fadeInLeft">
                <div class="shadow-soft" style="background-image:url(images/8.png)">
                    <div class="padding40 overlay60">
                        <h3>Staffing Solution</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <a href="service-1.html" class="btn-line btn-fullwidth">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-middle text-light  st-wow fadeInUp">
                <div class="shadow-soft" style="background-image:url(images/2.jpg)">
                    <div class="padding40 overlay60">
                        <h3>Aircraft Sales & Spares</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <a href="service-1.html" class="btn-line btn-fullwidth">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-middle text-light  st-wow fadeInRight">
                <div class="shadow-soft" style="background-image:url(images/6.jpg)">
                    <div class="padding40 overlay60">
                        <h3>Consulting</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                        <a href="service-1.html" class="btn-line btn-fullwidth">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- section close -->


<section id="section-why-choose-us-2">

    <div class="container">
        <div class="row">
            <div class="col-md-4  wow fadeInLeft">
                <img src="images/5.png" class="img-responsive wow fadeInUp" alt="">
            </div>
            <div class="col-md-8">

                <div class="row">

                    <div class="col-md-6 wow fadeInUp">
                        <div class="box-icon">
                            <span class="icon wow fadeIn" data-wow-delay=".5s"><i class="id-color icon-paintbrush"></i></span>
                            <div class="text">
                                <h3>Upcoming Classes</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 wow fadeInUp">
                        <div class="box-icon">
                            <span class="icon wow fadeIn" data-wow-delay=".75s"><i class="id-color icon-trophy"></i></span>
                            <div class="text">
                                <h3>Training Services</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                        </div>
                    </div>

                    <div class="spacer-single"></div>

                    <div class="col-md-6 wow fadeInUp">
                        <div class="box-icon">
                            <span class="icon wow fadeIn" data-wow-delay="1s"><i class="id-color icon-wallet"></i></span>
                            <div class="text">
                                <h3>Upcoming Classes</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 wow fadeInUp">
                        <div class="box-icon">
                            <span class="icon wow fadeIn" data-wow-delay="1.25s"><i class="id-color icon-chat"></i></span>
                            <div class="text">
                                <h3>Upcoming Classes</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                        </div>
                    </div>

                    <div class="spacer-single"></div>

                    <div class="col-md-6 wow fadeInUp">
                        <div class="box-icon">
                            <span class="icon wow fadeIn" data-wow-delay="1.5s"><i class="id-color icon-envelope"></i></span>
                            <div class="text">
                                <h3>Training Services</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 wow fadeInUp">
                        <div class="box-icon">
                            <span class="icon wow fadeIn" data-wow-delay="1.75s"><i class="id-color icon-recycle"></i></span>
                            <div class="text">
                                <h3>Upcoming Classes</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- section close -->

<!-- section begin -->
<section id="section-custom-1" class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInUp">
                <h2>Awards Winning Interior Design</h2>

                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>

                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                <a href="contact.html" class="btn-line btn-custom">Read more</a>
                <div class="spacer-single"></div>
            </div>

            <div class="col-md-6">
                <img src="images/section-img.png" alt="" class="img-responsive wow fadeInUp pull-right">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- section close -->