<style>
    header{
        background: #fff !important;
    }
    #mainmenu>li:first-child a>span{opacity: 0;}
	#mainmenu>li:first-child>a{color: #333 !important;}
    #mainmenu>li:nth-child(3) a>span{opacity: 1;}
    #mainmenu>li:nth-child(3)>a{color: #ED4C4D !important;}
    /* fixed header css */
    #mainmenu li a span:before,
	#mainmenu li a span:after{
		border-color:  rgba(0, 0, 0, 0.45);
	}
	#mainmenu li a:after {
		color:#000 !important;
    }
    #mainmenu > li >a{
	color:#333 !important;
    }
    .content{
        background: #f6f6f6;
        padding-bottom: 40px;
    }
</style>
<section class="rest-banner">

</section>
<section class="rest-page container">
    <article>
        <div class="row">
            <div class="col-sm-4 pull-right">
                <img src="images/section-img.png" alt="" class="img-responsive pull-right">
            </div>
            <div class="col-sm-8">
                <h5>A/c sales and spares</h5>
                <p>Having established ourselves at the national capital, New Delhi; we are located well to manage and
                        meet both international and national level demands.</p>
                <p><strong><em>We pride ourselves as competitive Suppliers of important Aircraft spares.
                        Get in touch for quality products and a delivery service. And we will reply within
                        48 Hrs.</em></strong></p>
                <h5>LET 410</h5>
                <p>Versatile, easy to handle and with low operating and maintenance costs; the LET 410 is an
                        all-metal, high-wing twin turboprop commuter. Designed to transport up to 19 passengers,
                        and able to be modified to suit cargo missions and special missions for recreation – the LET
                        410 is currently operating in more than 50 countries on five continents.</p>
            </div>
            <div class="col-sm-12">
                <p><strong><em>The L 410NG is currently used by commercial airline operators as well as
                        the government agencies and aero-clubs worldwide. Entering the Indian
                        aviation sector for its unique features will be another feather, be it – for
                        standard passenger transport, for cargo, for VIPs, as an air ambulance
                        service, for sky diving, for even photogrammetric or patrol versions.</em></strong></p>
                <h5>Some technical details:</h5>
                <ul>
                    <li>Cruise speed: 405 km/h</li>
                    <li> Range: 510 km</li>
                    <li>  Capacity: 19 passengers</li>
                    <li>Length: 14.42 m</li>
                    <li>Wingspan: 19.98 m</li>
                    <li> Height: 5.97 m</li>
                    <li> Max. Take-off weight: 6,600 kg</li>
                </ul>
                <h5>Aircraft Spares –</h5>
                    <ul>
                        <li>Aircraft Structural Parts: - Engines, Helicopter blades, Tail Rotor blades.</li>
                        <li>Aircraft Components: - Tapes, etc.</li>
                        <li>Aircraft Instruments: - Control Systems.</li>
                        <li>Consumables:- Engine Oils, greases, paints.</li>
                        <li>And Ground Support Equipment (GSE).</li>
                    </ul>
                    <h5>Pre-owned Aircraft</h5>
                    <p>Pictures of C-90 and B-200 to be placed in this section.</p>
            </div>
        </div>
    </article>
</section>