<style>
    header{
        background: #fff !important;
    }
    #mainmenu>li:first-child a>span{opacity: 0;}
	#mainmenu>li:first-child>a{color: #333 !important;}
    #mainmenu>li:nth-child(3) a>span{opacity: 1;}
    #mainmenu>li:nth-child(3)>a{color: #ED4C4D !important;}
    /* fixed header css */
    #mainmenu li a span:before,
	#mainmenu li a span:after{
		border-color:  rgba(0, 0, 0, 0.45);
	}
	#mainmenu li a:after {
		color:#000 !important;
    }
    #mainmenu > li >a{
	color:#333 !important;
    }
    .content{
        background: #f6f6f6;
        padding-bottom: 40px;
    }
</style>
<section class="rest-banner">

</section>
<section class="rest-page container">
    <article>
        <div class="row">
            <div class="col-sm-4 pull-right">
                <img src="images/section-img.png" alt="" class="img-responsive pull-right">
            </div>
            <div class="col-sm-8">
                    <h5>Staffing Solution –</h5>
                    <p>Staffing is a crucial decision for an Airline. We understand this!!</p>
                    <p>Therefore, we provide a seamless integration program which enables smooth transition for individuals
                            into the Aviation Industry.</p>
                    <p>Red Bird Aviation is the place where Airlines can meet qualified and capable professionals for their
                            respective organizations.</p>
                    <h5>1. Staffing Solutions</h5>
                    <p>With Industry collaboration and Airline companies for easy and guaranteed transition to work –
                            we are dedicated to providing a seamless training and recruitment framework through our
                            services.</p>
                    <p>All you need to do is sign up.</p>
                    <p><strong>Our students have been recruited at</strong></p>
                    <ul>
                        <li>go Air</li>
                        <li>AIR INDIA</li>
                        <li>Spicejet</li>
                        <li>AIR INDIA express</li>
                    </ul>
                </div>
                <div class="col-sm-12">    
                    <h5>a. For Individuals</h5>
                    <h6><strong>i. Pilots/Simulator flight Instructor(SFI) – 4 line description and recruitment details</strong></h6>
                    <p>Red Bird Aviation is composed of an experienced and passionate team of Pilots and
                            Airline staff.</p>
                        <p>To fulfill your goals as prospective pilot trainees, we take it upon ourselves to
                            provide suitable avenues for you at the end of your training.</p>
                        <p>With collaborations with an established and growing network of national and
                            international Airlines – we ensure a quick transition to flying.</p>
                    <h6><strong>ii. Cabin Crew – 4 line description and recruitment details</strong></h6>
                    <p>Red Bird Aviation collaborates with its industry partners in management practice,
                            Airline operations, and host of other activities to ensure that your training ends with
                            successful entry into the Aircraft Cabin Crew service of world-renowned Airlines.</p>
                    
                    <h6><strong>iii. Aircraft Maintenance Engineers – 4 line description and recruitment details</strong></h6>
                    <p>Aircraft Maintenance Engineers are highly sought-after by every Airline, and we at
                            Red Bird Aviation provide the most direct path to this challenging and praiseworthy
                            profession.</p>
                    <h5>b. For Airlines/Operators</h5>
                    <h6><strong>i. Pilots/Simulator flight Instructor(SFI) – 4 line description and prospective advantage of accepting them</strong></h6>
                    <p>Being a Pilot means honing in on quick thinking, adapting to new scenarios, being
                            responsible for the lives of passengers placed under your care. All this requires a
                            good amount of knowledge, lots of practice, and ethics that emanate from good
                            character – at Red Bird Aviation we strive to deliver these qualities through the
                            wealth of knowledge from an experienced faculty, our in-house training facilities,
                            and secure environment where people are free to learn and develop into Pilots. The
                            outcome is that we have delivered professionally competent pilots who can face up
                            to any challenge.</p>
                    <p><strong><em>We provide services accommodating Dry simulations and Wet
                            simulations on a range of Aircraft. Our simulation services include
                            training on the Airbus A310, A 320, A 330, A 340, A 350, and A
                            380. We also provide simulation on the Boeing B-727, B-737, B-
                            747, and B-787.</em></strong></p>
                    <p>Our collaboration extends to other flying schools to encapsulate all the training
                            exercises that can be made available to students in one place – Red Bird Aviation.</p>
                    <h6><strong>ii. Cabin Crew – 4 line description and prospective advantage of accepting/recruiting them</strong></h6>
                    <p>Red Wings offers extensive cabin crew training programs – keen to guarantee safe
                            and pleasing flights for the passengers of our associated airline partners.</p>
                    <p>While providing training one gets rewards in the safety of flying too.</p>
                    <p>The practical exposure &amp; modern defined methodology has been inculcated to
                            redefine the current training practices &amp; serve the sector with ease &amp; a recognized
                            manner.</p>
                    <p>In addition to a 3 month theoretical training program in the best practical
                            environment, we also provide industrial exposure to refine the finishing skills of an
                            individual in the form of On-Job training (OJT) opportunities at our associated hotel
                            partners.</p>

                    <h6><strong>iii. Aircraft Maintenance Engineers – 4 line description and prospective advantage of
                            accepting them</strong></h6>
                    <p>Red Bird Aviation provides a platform for you to find qualified and experienced
                            maintenance engineers to service and maintain their fleet.</p>
            </div>
        </div>
    </article>
</section>